.features-list {
    display: flex;
    column-gap: 24px;
}
.features-list-item {
    width: 264px;
}
.features-icon-container{
    background-color: #F4F4FD;
    padding: 24px 100px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
}
.features-list-subtitle {
    font-weight: 500;
    color: #2E2F42;
    line-height: 1.2;
    font-size: 20px;
    padding-bottom: 8px;
    margin-top: 8px;
}
.features-list-text {
    line-height: 1.5;
}